
<div id="dots"><!-- pixel grid overlay div -->
 <div class="container">
	<ul class="slideshow">
	  <li><span></span></li>
	  <li><span></span></li>
	  <li><span></span></li>
	  <li><span></span></li>
	  <li><span></span></li>
	  <li><span></span></li>
	</ul>
</div>
</div>


		

<%= render "ball" %>

 <!--  <div id="venue_div">
  	<div id="location">Playing at: </div>
  </div>  -->  


<footer>
	<!-- <div id="showthatmusic" style="color: white;"></div> -->

	<div id="footer_container">
		<div id="soundcloud_container">
			<iframe id="soundcloud_widget" 
	    src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%= raw @tracks.first %>&show_artwork=false&liking=false&sharing=false&auto_play=true&visual=false&color=FE2E64" 
	    width="100%" 
	    height="100%" 
	    frameborder="no"
	   ></iframe>
	  </div>
		<div id="logo_container">
			<div id="logo_show"></div>
			<h4>live, local, artist radio</h4>
		</div>
	<!-- 
		<a id="play_button_show">pause</a>
		<a id="skip_button_show">skip</a> -->	
		<div id="submit_container_show">
			<%= form_tag(show_path) do %>
				<ul>
					<li>
					<%= text_field_tag :users_zip, nil, :placeholder => " new zipcode?", class: "submit_field_show" %>
					</li>
					<li>
						<%= submit_tag "listen", class: "submit_button_show" %>
					</li>
				</ul>
			<% end %>
		</div><!-- end submit_container_show -->
	</div><!-- end footer_container -->
</footer>


<!-- Soundcloud Player JS -->
<script>
	var scTracks = <%= @tracks %>
	var eventsTest = <%= raw @events.to_json %>	

// creates playlist data structure //
function getSongsFromEvents(events) {
  var evt, songs = [];
  for(var i=0; i < events.length; i++){
    evt = events[i];
    for(var j=0; j < evt.artists.length; j++) {
      var song = {
        name: evt.artists[j].song.song_name,
        album: evt.artists[j].song.album_name,
        soundcloud_id: evt.artists[j].song.soundcloud_id,
        artist: evt.artists[j].artist.name,
        venue: evt.venue.name,
        venue_url: evt.venue.url,
        latitude: evt.venue.latitude,
        longitude: evt.venue.longitude
      };
      if(song.artist) {
        song.name = song.name
          .replace(song.artist.trim(), '')
          .replace(' :: ', ' ')
          .replace(' - ', ' ')
          .replace(' by ', ' ')
          .trim();
	}
      songs.push(song);
    	}
  	}
  return songs;    
}

// songs = playlist data //
var songs = getSongsFromEvents(eventsTest);


// dynamically displayed venue name //
// document.getElementById('showthatmusic').innerHTML = songs[5].venue;


// plays next song // 
	var trackCount = 1;
	var widget = SC.Widget(document.getElementById('soundcloud_widget'));

	widget.bind(SC.Widget.Events.FINISH, function() {
	  console.log('Song Finished');
	  widget.load(scTrackUrl(scTracks[trackCount]), {auto_play: true});
	  // $('#soundcloud_widget').attr('src', scUrl(scTracks[trackCount]));
	    if (trackCount <= (scTracks.length - 1))  {
	      trackCount++;
	      console.log("Track count is now: " + trackCount)
	    } 
	    else {
	      trackCount = 0;
	    }
	    // widget.seekTo(0);
	    // widget.play(); 
	});	

	widget.bind(SC.Widget.Events.READY, function() {
	  console.log('Ready...');
	});

	// $('#play_button_show').click(function(e) {
	//   e.preventDefault();
	//   widget.toggle();
	// });


// 	function fun(ReqTextbox) { 
//     var queueData = document.getElementById(ReqTextbox).value; 
//     document.getElementById('myAnchor').href = "servlet?variablename=" + queueData;
//     //some more code
// } 
// var evnt, artistarray;

// 	for(var i = 0; i < eventsTest.length; i++){
//     evnt = eventsTest[i];
//     for(var j = 0; j < evnt.artists.length; j++){
//         artistarray = evnt.artists[j];
//         console.log(artistarray.artist.name);
//     }
// 	}

// 	var artistName = artistarray.artist.name; // ARTIST NAME


// 	for(var i = 0; i < eventsTest.length; i++){
//     evnt = eventsTest[i];
//     for(var j = 0; j < evnt.artists.length; j++){
//         artistarray = evnt.artists[j];
//         console.log(artistarray.song.song_name);
//     }
// 	}
// 	var songName = artistarray.song.song_name; // SONG NAME


// 	for(var i = 0; i < eventsTest.length; i++){
//     evnt = eventsTest[i];
//     for(var j = 0; j < evnt.venue.length; j++){
//         console.log(evnt.venue.name);
//     }
// 	}
// 	var venueName = evnt.venue.name;	// VENUE NAME
</script>






