
<div id="loader-wrapper"><!-- preloader -->
	<div id="loader">
<!-- 		<div id="logo_show_load"></div> -->
	</div>
	<div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div><!-- end preloader -->

<div id="show_bg"><!-- static background image -->
 <id="image_link" data-image-url="<%= image_url 'image2.jpg' %>" >
</div>

<div id="dots"><!-- pixel grid overlay div -->
 <div class="container">
	<ul class="slideshow">
	  <li><span></span></li>
	  <li><span></span></li>
	  <li><span></span></li>
	  <li><span></span></li>
	  <li><span></span></li>
	  <li><span></span></li>
	</ul>
</div>
</div><!-- end grid -->

<%= render "ball" %>

<footer>
	<div id="show_venue"></div>

	<div id="footer_container">
		<div id="soundcloud_container"><!-- soundcloud container -->
			<iframe id="soundcloud_widget" 
	    src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/111111&show_artwork=false&liking=false&sharing=false&auto_play=true&visual=false&color=FE2E64" 
	    width="100%" 
	    height="100%" 
	    frameborder="no"
	   ></iframe>
	  </div><!-- end soundcloud container --> 
		<div id="logo_container">
			<div id="logo_show"></div>
			<h4>live, local, artist radio</h4>
		</div>
		<div id="submit_container_show">
			<%= form_tag(show_path) do %>
				<ul>
					<li>
					<%= text_field_tag :users_zip, nil, :placeholder => " new zipcode?", class: "submit_field_show", required: true, minlength: 5, maxlength: 5 %>
					</li>
					<li>
						<%= submit_tag "listen", class: "submit_button_show" %>
					</li>
				</ul>
			<% end %>
		</div><!-- end submit_container_show -->
	</div><!-- end footer_container -->
</footer>


<!-- Soundcloud Player JS -->
<script>
  // var trackCount = 1;
	// var scTracks = <%= @tracks %>	
	var eventsList = <%= raw @events.to_json %>
	var tracker = {currentVenue: 0, currentArtist: 0};

	// plays next song  
	var widget = SC.Widget(document.getElementById('soundcloud_widget'));
	widget.bind(SC.Widget.Events.FINISH, function() {
	  playNextTrack(eventsList, tracker);
	});	

	function updateVenueInfo(venue) {
		document.getElementById('show_venue').innerHTML = "Playing at: " + venue;
		console.log("Playing at: " + venue)
	}

	// function locateVenue(trackId, eventsList) {
	// 	for (var i = 0; i < eventsList.length; i++) {
	// 		for (var j = 0; j < eventsList[i].artists.length; j++) {
	// 			if (eventsList[i].artists[j].song.soundcloud_id === trackId.toString()) {
	// 				console.log("Found track in venue: " + eventsList[i].venue.name)
	// 				return eventsList[i].venue.name
	// 			}
	// 		}
	// 	}
	// 	return "Venue Not Found?!"
	// }

	function playNextTrack(eventsList, tracker) {
		console.log('Song Finished');
		var newSong = eventsList[tracker.currentVenue].artists[tracker.currentArtist + 1];
		if (typeof(newSong) !== undefined) {
			widget.load(scTrackUrl(newSong.song.soundcloud_id), {auto_play: true});
			updateVenueInfo(eventsList[tracker.currentVenue].venue.name);
			tracker.currentArtist++;
		} 
		else if () {
			eventsList[tracker.currentVenue] == nil 
		}
	    
	}

	playNextTrack(eventsList, tracker);
	</script>






