<div>
<%= @echo_nest.inspect %>

<%= @playlist %>



<!-- <iframe src="https://embed.spotify.com/?uri=spotify:track:5JunxkcjfCYcY7xJ29tLai" frameborder="0" allowtransparency="true"></iframe> -->

	<% @playlist.each do |listing| %>
		<h3><%= listing[:venue] %></h3>
		<ol>
			<% listing[:artists].each do |artist| %>
				<li><%= artist[:name] %> | <%= artist[:song] %></li>
			<% end %>
		</ol>
		<hr>
	<% end %>
</div>